* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.fixed{
  position:fixed;
  top:0;
}

.menu-btn {
  display: none;
}

span {
  color: #f9004d;
}

a {
  color: #fff;
}

#home {
  height: 100vh;
	width: 100%;
	background-image: url(../img/dp-1.png);
	background-size: cover;
	background-position: center;

}

.logo {
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 30px;
  padding-left: 3rem;
  padding-right: 1.5rem;
  transition: all 0.3s ease;
}

.sticky {
  padding: 1rem 1.5rem !important;
  background: #f9004d;
}

.navbar.sticky .logo span {
  color: #fff;
}

.navbar.sticky ul li a {
  color: #fff;
}

.navbar.sticky .btn {
  background: #101010;
  color: #fff;
}


.navbar ul li {
  list-style: none;
  padding: 10px 25px;
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bolder;
}

.navbar ul li a:hover {
  color: #f9004d;
  transition: .4s;
  border-bottom: 3px solid #f9004d;
}

.navbar.sticky ul li a:hover {
  color: #000;
  transition: .4s;
  border-bottom: 3px solid #000;
}


.navbar ul li .nav-text {
  color: #ff7700;
  transition: .4s;
}

.navbar ul li .nav-text:hover {
  color: #f9004d;
  transform: scale(1.2);
}

.navbar.sticky ul li .nav-text:hover {
  color: #000;
  transform: scale(1.2);
}

.intro-text h1 {
  color: #fff;
}

.intro-text h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}

.intro-text h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #f9004d;
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 30px;
  transition: .4s;
}

.btn:hover {
  background: #101010 !important;
  transform: scale(1.2);
}

.intro-text {
  position: absolute;
  top: 55%;
  left: 8%;
  transform: translateY(-50%);
}

.intro-text h1 {
  color: #fff;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  /* margin-left: 20px; */
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: #fff;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

#about-us {
  background-color: #191919;
  width: 100%;
  padding: 100px 0px;
}

.about-img {
  width: 430px;
  height: 500px;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
}

.about-text{
	width: 550px;
}

.about-text h2 {
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.service{
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}

.service-title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
  background: #191919;
  height: 365px;
  width: 365px;
  padding: 20px 35px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  color: #f9004d;
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 40px;
}

.card .pra {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}

.pra p {
  margin-bottom: 15px;
}

.card .button {
  background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px #f9004d solid;
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 290px;
  background-color: #101010;
  align-items: center;
  justify-content: center;
}

.contact-me h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: #f9004d;
  color: #fff;
  border-radius: 30px;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
  text-decoration: none;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* Skills */

.skills {
  background-color: #191919;
}

.skills .skills-content {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.skills .max-width h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 1rem;
  /* padding-left: 8rem; */
}


.skills div div {

  align-items: center;
  justify-content: center;
}

.skills .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 75px;
  /* width: 1130px; */
  padding-top: 3rem;
}
.skills .skills-content .column{
  width: calc(50% - 30px);
  margin-bottom: 5rem;
  padding-top: 1rem;
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .left a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills-content .right .html::before{
  width: 90%;
}
.skills-content .right .css::before{
  width: 60%;
}
.skills-content .right .js::before{
  width: 50%;
}
.skills-content .right .django::before{
  width: 80%;
}
.skills-content .right .python::before{
  width: 90%;
}
.skills-content .right .mysql::before{
  width: 70%;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
  background: #191919;
}

.footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer p:nth-child(2) {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.copy-footer .end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
}


.copy-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100px;
  background: #101010;
}

/* Media Queries */

@media (min-width: 350px) and ( max-width: 900px ) {
  .about-img {
    height: 350px;
    width: 350px;
  }

  .max-width{
    padding: 0 50px;
  }

  .btn {
    display: none;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: '\f00d';
  }

  .menu-btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: #f9004d;
    border: 2px solid transparent;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
  }

  .navbar {
   display: flex;
   flex-direction: column;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .about-main {
    display: flex;
    flex-direction: column;
  }

}


